<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>

</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input th:field="*{name}" type="name" class="form-control" id="exampleInput" >
        </div>

        <div class="form-group">
            <label for="exampleInputEmail">Email address</label>
            <input th:field="*{email}" type="email" class="form-control" id="exampleInput" >
        </div>

        <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="exampleInput">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
</html>